<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="WBG-JFrog" value="https://artifactory.worldbank.org/artifactory/api/nuget/v3/nuget-remote/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <WBG-JFrog>
      <add key="Username" value="itsdo-dec-lrll-devops-svc" />
      <add key="ClearTextPassword" value="Th13pq8WmxwR" />
    </WBG-JFrog>
  </packageSourceCredentials>
</configuration>
